NODE_ENV=development
PORT=4000

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority

JWT_ACCESS_SECRET=<run: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))">
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=<run same command again>
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

BCRYPT_ROUNDS=10
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
