# backend/.env — final correct version
NODE_ENV=development
PORT=4000

MONGO_URI=mongodb+srv://ywaldia_db_user:gFrkDw3EqPFXxzHZ@task-platform-cluster.dvpnn9d.mongodb.net/taskplatform?retryWrites=true&w=majority&appName=task-platform-cluster

JWT_ACCESS_SECRET=e562233fa41d32503546a4e22dd0497180d69a8a8aac74615b0530dc0710900d
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=2fa6f78cb479c47840ae212674da78f63b7e7f50d26f34d7cbc57a5b6865c3e0
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

BCRYPT_ROUNDS=10
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
